mat-sidenav-container {
    height: 100%;
}

mat-sidenav-content {
    opacity: .5;
    background-color: black;
}

mat-nav-list {
    img {
        width: 24px;
        height: 24px;
        object-fit: contain;
    }
}